.logo_kısım{
    border-radius: 50%;
    position: relative;
    left: -10%;
}
.arkatema{
    background-color: white !important;
    position: relative;
    top: -8px !important;
}
.anasayfa{
    position: relative;
    left: 0% !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}
.ürünlerimiz{
    position: relative;
    left: 10% !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}
.ürünlerimiz1{
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}
.hakkımızda{
    position: relative;
    left: 30% !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}
.iletişim{
    position: relative;
    left: 50% !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}
.arama{
    position: relative;
    left: -60% !important;
    width: 350px !important;
}
::placeholder{
    position: relative;
    left: auto !important;
}
.zx5k{
    position: relative;
    left: -10px;
}
.zx{
    position: relative;
    left: -10px;
     opacity: 0.7;   

}
.ürünnn{
    position: relative;
    left: -30px;
}
.k5{
    position: relative;
    left: -10px;
    opacity: 0.7;
    top: -15px;   
}
.TL{
    background-color: white;
    position: relative;
    top: -155px;
    left: -15px;
}
.zxx{
    width: 286px;
    height: 210px;
    background-image:url(images/Forum_Low_Ayakkabi_Beyaz_H01673_01_standard.jpg);
}
.zxx:hover{
    width: 286px;
    height: 210px;
    background-image: url(images/Forum_Low_Ayakkabi_Beyaz_H01673_02_standard_hover.jpg);
}
.card{
    float: left;
    margin-right: 1.5%;
    margin-left: 1%;
    margin-top: 5%;
}